# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
clientApp/dist
clientApp/tmp
clientApp/out-tsc
# Only exists if Bazel was run
clientApp/bazel-out

# dependencies
clientApp/node_modules

# profiling files
clientApp/chrome-profiler-events.json
clientApp/speed-measure-plugin.json

# IDEs and editors
clientApp/.idea
clientApp/.project
clientApp/.classpath
clientApp/.c9/
clientApp/*.launch
clientApp/.settings/
clientApp/*.sublime-workspace

# IDE - VSCode
clientApp/.vscode/*
clientApp/!.vscode/settings.json
clientApp/!.vscode/tasks.json
clientApp/!.vscode/launch.json
clientApp/!.vscode/extensions.json
clientApp/.history/*

# misc
clientApp/.sass-cache
clientApp/connect.lock
clientApp/coverage
clientApp/libpeerconnection.log
clientApp/npm-debug.log
clientApp/yarn-error.log
clientApp/testem.log
clientApp/typings

# System Files
clientApp/.DS_Store
clientApp/Thumbs.db


# ====== WEB API ======
WebApi/.vs
WebApi/WebApi/bin
WebApi/WebApi/obj